html
{
    position: relative;
    min-height: 100%;
}
body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 100px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky
{
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

ul.navbar-nav,
ul.navbar-nav li
{
    display: inline-block;
    margin-left: 15px;
}

.top-main-nav
{
    background-color: #fff;
    color: #1f2428;
}
.top-main-nav .navbar-nav .nav-link
{
    color: #1f2428;
}
/*
 * Content
 */

[role="main"] {
    padding-top: 100px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand
{
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: #ffff;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    text-align: center;
}
.navbar-brand img
{
    width:100%;
}
.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/**
* Quotes list button
*/
.quotes-list a.btn
{
    width: 75px;
    text-transform: uppercase;
}
.quotes-list a.btn span{
    font-family:'FontAwesome';
    margin-right: 5px;
}


/**
*  Orders list button
*/
.orders-list a.btn
{
    width: 75px;
    text-transform: uppercase;
}
.orders-list a.btn span{
    font-family:'FontAwesome';
    margin-right: 5px;
}
/*
* Form Detail Row
 */
.form-row
{
    margin-bottom: 10px;
}
.form-control:disabled, .form-control[readonly]
{
    background-color: #ffffff;
    opacity: 1;
}
/*
 * Footer
 */
.footer
{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 50px;
}

.errors
{
    color:red;
    margin-top:5px;
}



/**
* login page
*
**/

.login-email-input,
.login-pass-input
{
    margin: 15px 0 10px;
}



/**
*
 */
.quote-buttons,
.order-buttons
{
    margin-top: 20px;
}


/*
*   Finance Row Details
*/


.finance-row
{
    margin-top: 20px;
}


fieldset.finance-section,
fieldset.total-price-section
{
    border: 1px solid #d5d6d6 !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #d5d6d6;
    border-radius: 8px;
}
fieldset.finance-section .header,
fieldset.total-price-section .header
{
    border-bottom: none;
    width: auto;
    padding: 0 10px;
    font-weight: 400;
}


fieldset.finance-section  .list-group-item,
fieldset.total-price-section .list-group-item
{
    padding: 0.5rem 1.25rem;
    border: 1px solid rgb(255, 255, 255);
}


fieldset.total-price-section .list-group-item .price-value
{
    position: absolute;right:15px;
}

/**
* list details of main panel
*/
.table thead th
{
    border-top: 1px solid #ffffff;
}



/*
* Customize the email button
*
*/
.buttons-field button .feather-mail
{
    vertical-align: sub;
    width: 22px;
    height: auto;
}